{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ url_for('static', filename='uploads/' + post.image) }}" class="card-img-top" alt="Post Image">
                <div class="card-body">
                    <p class="card-text">{{ post.caption }}</p>
                    <form action="{{ url_for('like_post', post_id=post.id) }}" method="POST">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-heart"></i> {{ post.likes }} Likes
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
